[Desktop Entry]
Type=Application
Icon=org.Rabbit.TransformCoordinate
Exec=/opt/TransformCoordinate/bin/TransformCoordinate.sh
Terminal=false
StartupNotify=true
Categories=Application;Development;Tools

Name=TransformCoordinate
GenericName=TransformCoordinate
Comment=TransformCoordinate
Name[zh_CN]=坐标转换
GenericName[zh_CN]=坐标转换
Comment[zh_CN]=坐标转换

