Source: transformcoordinate
Section: main
Priority: optional
Maintainer: Kang Lin <kl222@126.com>
Build-Depends: debhelper (>= 6)
Standards-Version:"v0.0.9"
Homepage: https://github.com/KangLin/TransformCoordinate
Vcs-Git: https://github.com/KangLin/TransformCoordinate.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/TransformCoordinate.git

Package: transformcoordinate
Architecture: any
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TransformCoordinate
